/* src/styles/global.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  background-color: #FFFDD0; /* Cream */
  color: #333; /* Dark gray */
}